/* GENERELT */
*{
    margin:0px;
    padding:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    width:100%;
}

img{
    width:100%;
}

/* PORTFOLIO */
#gallery_thumbs{
    width:100%;
    height:150px;
    display:flex;
    justify-content:space-around;
    overflow-x:auto;
}
#gallery_thumbs img{
    width:150px;
    height:100px;
    transition:0.5s transform;
}

#gallery_thumbs img:hover{
    transform: scale(1.2);
}